@import url('https://fonts.googleapis.com/css2?family=Montserrat:' +
            'wght@100;200;300;400;500;600;700;800;900&family=Poppins:' +
            'wght@100;200;300;400;500;600;700;800;900&display=swap');
            
$montserrat: 'Montserrat', sans-serif;

$trans-slow: 0.3s ease all;
$trans-fast: 0.2s ease all;

// DARK MODE
// $primary   : #202020;
// $secondary : #101010;
// $accent    : #E9204F;

// LIGHT MODE
$primary   : #EBEBEB;
$secondary : #FFFFFF;
$accent    : #E9204F;

body {

    background-color: $primary;
    scroll-behavior: smooth;
    line-height: 1;

}

* {

    font-family: $montserrat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}