@use 'main' as *;

.header {

    &-desktop {

        grid-template-columns: 1fr 1fr;
        background-color: var(--secondary);
        border-top: 1px solid var(--border-line);
        position: fixed;
        display: grid;
        height: 8vh;
        width: 100%;
        top: 0;
        
    }
    
    &-mobile {

        grid-template-columns: 1fr 1fr;
        background-color: var(--secondary);
        border-top: 1px solid var(--border-line);
        position: fixed;
        display: grid;
        bottom: 0;
        height: 8vh;
        width: 100%;

        &-logo {

            padding-left: 20px;
            grid-column: 1;
            align-items: center;
            display: grid;
            height: inherit;

            img {

                width: 5vh;

            }

        }

        &-btns {

            justify-content: right;
            grid-auto-flow: column;
            padding-right: 20px;
            align-items: center;
            grid-column: 2;
            display: grid;

            i {

                margin-top: 5px;
                font-size: 3.25vh;
                color: var(--text);

            }

            i:first-child {

                margin-right: 10px;

            }

            i:hover {

                cursor: pointer;
                color: var(--accent);

            }

            .fa-moon {

                margin-top: 5px;

            }

            .fi-rr-sun {

                margin-top: 5px;

            }

        }

        &-nav {

            grid-template-columns: 1fr;
            grid-template-rows: 32vh 8vh;
            background-color: var(--secondary);
            transition: 0.4s ease all;
            position: fixed;
            display: grid;
            bottom: -40vh;
            height: 40vh;
            width: 100%;

            &-links {

                justify-content: center;
                flex-direction: column;
                padding-bottom: 5px;
                padding-top: 5px;
                align-items: center;
                border-top: 1px solid var(--border-line);
                grid-row: 1;
                display: grid;

                a {

                    text-align: center;
                    text-decoration: none;
                    font-weight: 400;
                    transition: var(--trans-fast);
                    margin: 5px;
                    color: var(--text);

                }

                a:hover {

                    color: var(--accent);

                }

            }

            &-footer {

                grid-template-columns: 2fr 1fr;
                border-top: 1px solid var(--border-line);
                grid-row: 2;
                display: grid;
                width: 100%;

                &-copyright {

                    align-items: center;
                    margin-left: 20px;
                    grid-column: 1;
                    display: grid;
                    color: white;

                    small {

                        font-weight: 500;
                        font-size: 0.7rem;
                        color: var(--text);

                    }

                }

                &-close {

                    justify-content: right;
                    margin-right: 20px;
                    align-items: center;
                    grid-column: 2;
                    display: grid;
                    height: inherit;

                    i {

                        background-color: var(--accent);
                        border-radius: 100px;
                        place-items: center;
                        display: grid;
                        border: 2px solid var(--accent);
                        height: 35px;
                        width: 35px;
                        color: var(--secondary);

                    }

                    i:hover {
    
                        background-color: transparent;
                        border: 2px solid var(--accent);
                        cursor: pointer;
                        color: var(--accent);
        
                    }

                }

            }

        }

    }

}

.home {

    flex-direction: column;
    justify-content: center;
    padding-right: 1vw;
    padding-left: 1vw;
    align-items: center;
    display: flex;
    height: 100vh;

    &-info {

        margin-bottom: 10px;
        text-align: center;

        h1 {

            text-transform: uppercase;
            margin-bottom: 0.5vh;
            font-size: 2.25rem;
            color: var(--text);

        }

        h2 {

            font-weight: 400;
            font-size: 1rem;
            color: var(--text);

        }

        a {

            text-decoration: none;
            color: var(--accent);

        }

        a:hover {
            
            cursor: pointer;

        }

    }

    &-cta {

        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;

        a {

            text-decoration: none;
            border-radius: 5px;
            place-items: center;
            font-weight: 500;
            transition: var(--trans-fast);
            text-align: center;
            font-size: 0.8rem;
            display: grid;
            height: 40px;
            border: 1px solid rgb(150, 150, 150);
            margin: 5px;
            width: 150px;
            color: var(--text);

        }

        a:hover {

            cursor: not-allowed;

        }

    }

}

