@use 'misc' as *;

.header {
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
    position: fixed;
    display: grid;
    height: 6vh;   
    width: 100%; 
    &-title {
        text-transform: uppercase;
        align-items: center;
        grid-column: 1;
        font-weight: 600;
        font-size: 1.2rem;
        display: flex;
    }
    &-nav {
        justify-content: right;
        align-items: center;
        grid-column: 2;
        display: flex;
        &-btn {
            transition: $trans-fast;
            font-size: 1.2rem;
        }
        &-btn:hover {
            cursor: pointer;
            color: $accent;
        }
    }
    &-navPanel {
        grid-template-columns: 1fr;
        grid-template-rows: 6vh 1fr 6vh;
        background-color: $secondary;
        align-content: left;
        // margin-right: -70%;
        position: fixed;
        display: grid;
        height: 100vh;
        right: 0;
        width: 70%;
        &-close {
            align-items: center;
            grid-row: 1;
            display: flex;
            i {
                margin-left: 20px;
                transition: $trans-fast;
                font-size: 1.2rem;
            }
            i:hover {
                cursor: pointer;
                color: $accent;
            }
        }
        &-navigation {
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            grid-row: 2;
            display: flex;
            gap: 90px;
            a {
                text-decoration: none;
                font-weight: 500;
                transition: $trans-fast;
                color: black;
            }
            a:hover {
                color: $accent;
            }
        }
        &-footer {
            padding-left: 20px;
            align-items: center;
            display: flex;
            p {
                font-size: 0.5rem;
            }
        }
    }
}

.home {

    // background-color: red;
    height: 100vh;

}