@use 'variables' as v;

* {

    font-family: v.$montserrat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    
    scroll-behavior: smooth;

}

body {

    background-color: v.$secondary;
    line-height: 1;

}