@use 'variables' as v;

// ? Header Component

.header {

    grid-template-columns: 1fr 1fr;
    background-color: #101010;
    border-bottom: 1px solid #1E1E1E;
    padding-right: 20vw;
    padding-left: 20vw;
    transition: 0.2s ease all;
    position: fixed;
    display: grid;
    height: 8vh;
    width: 100%;

    &-logo {

        grid-column: 1;
        align-items: center;
        display: flex;

        h1 {

            font-weight: 600;
            transition: v.$slow;
            font-size: 1rem;
            color: white;

        }

        h1:hover {

            cursor: pointer;
            color: v.$accent;

        }

    }

    &-nav {

        justify-content: flex-end;
        grid-column: 2;
        align-items: center;
        display: flex;

        a {

            text-decoration: none;
            margin-left: 40px;
            font-weight: 600;
            transition: v.$slow;
            font-size: 0.8rem;
            color: white;

        }

        i {
        
            margin-left: 50px;
            transition: v.$slow;
            font-size: 1rem;
            color: white;

        }

        a:hover {

            padding-bottom: 5px;
            border-bottom: 1px solid v.$accent;
            color: v.$accent;

        }

        i:hover {

            cursor: pointer;
            color: v.$accent;

        }

    }

}

.home {

    background-color: v.$primary;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    height: 100vh;
    display: flex;

    &-info {

        margin-bottom: 30px;

        h2 {

            margin-bottom: 5px;
            text-align: center;
            font-size: 2.75rem;
            color: white;
    
        }
    
        h3 {
    
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            font-size: 0.85rem;
            color: white;

            #fivemHyperlink {

                text-decoration: none;
                transition: v.$slow;
                color: v.$accent;

            }

            #fivemHyperlink:hover {

                cursor: pointer;
                color: v.$accent-hovered;

            }
    
        }

    }

    &-buttons {

        a {

            text-decoration: none;
            border-radius: 3px;
            font-weight: 600;
            font-size: 0.6rem;
            padding: 12px 30px 12px 30px;
            margin: 10px;
            color: white;

        }

        #home-contact {

            background-color: v.$accent;
            transition: v.$slow;
            border: 1px solid v.$accent;

        }

        #home-contact:hover {

            background-color: v.$accent-hovered;
            border: 1px solid v.$accent-hovered;

        }

        #home-download {
            
            transition: v.$slow;
            border: 1px solid v.$accent;

        }

        #home-download:hover {

            background-color: v.$accent;

        }

    }

}

.about {

    background-color: v.$secondary;
    padding-right: 20vw;
    padding-left: 20vw;
    border-top: 1px solid v.$tertiary;
    height: 100vh;

    &-info {

        grid-template-rows: 30px auto;
        margin-top: 150px;
        display: grid;
        gap: 20px;

        &-header {

            border-left: 5px solid v.$accent;
            align-items: center;
            grid-row: 1;
            display: flex;

            h2 {

                text-transform: uppercase;
                padding-left: 10px;
                font-weight: 600;
                font-size: 1.4rem;
                color: white;
    
            }

        }

        &-container {

            p {

                text-align: justify;
                line-height: 30px;
                font-weight: 400;
                font-size: 0.9rem;
                color: white;

            }

        }

    }

    &-tech {

        grid-template-rows: 30px auto;
        margin-top: 50px;
        display: grid;

        &-header {

            border-left: 5px solid v.$accent;
            align-items: center;
            grid-row: 1;
            display: flex;

            h2 {

                text-transform: uppercase;
                padding-left: 10px;
                font-weight: 600;
                font-size: 1.4rem;
                color: white;
    
            }

        }

    }

}