@import url('https://fonts.googleapis.com/css2?family=Montserrat:' +
            'wght@100;200;300;400;500;600;700;800;900&family=Poppins:' +
            'wght@100;200;300;400;500;600;700;800;900&display=swap');
            
$montserrat     : 'Montserrat', sans-serif;

$primary        : #0E0E0E;
$secondary      : #101010;
$tertiary       : #1E1E1E;
$accent         : #E9204F;
$accent-hovered : #9b1736;

$fast           : 0.1s ease all;
$slow           : 0.2s ease all;